.container {
    height: calc(100vh - 60px);
}

.video {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    object-fit: cover;
    z-index: -1;
}

.overlay {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--overlay);
}

.logo {
    height: 200px;
}

.logo img {
    height: 100%;
}

.slogan {
    font-size: 20px;
    text-align: center;
    color: white;
}
