.container {
    background-image: url("../../assets/images/treatments-banner.jpg");
    background-position: center;
    background-size: cover;
}

.overlay {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--overlay);
}

.title {
    max-width: 1000px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    color: white;
}

.slogan {
    max-width: 1000px;
    text-align: center;
    font-weight: 300;
    color: white;
}

.button {
    padding: 15px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}

.button:hover {
    color: var(--blue);
    background-color: white;
    transition: 0.3s;
}

@media (max-width: 576px) {
    .overlay {
        padding: 50px 20px;
    }
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 16px;
    }
}
