.container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 3px var(--blue);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagesLogo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.imagesLogos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 500px;
}

.imagesLogosLogo img {
    height: 100%;
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataSection {
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dataSection svg {
    font-size: 20px;
    color: var(--blue);
}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.socialSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialSectionText {
    font-weight: 800;
    text-align: left;
    color: var(--blue);
}

.socialSectionIcons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialSectionIconsSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialSectionIconsSectionIcon {
    padding: 8px;
    display: flex;
    border: 2px solid var(--blue);
    border-radius: 50%;
}

.socialSectionIconsSectionIcon:hover {
    background-color: var(--blue);
    transition: 0.3s;
}

.socialSectionIconsSectionIcon:hover svg {
    cursor: pointer;
    color: white;
}

.socialSectionIconsSectionIcon svg {
    font-size: 25px;
    color: var(--blue);
}

hr {
    width: 100%;
}

.developer {
    color: var(--blue);
}

.developer a {
    font-weight: 800;
    text-decoration: none;
    color: var(--blue);
}

.developer a:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .socialSectionText {
        text-align: center;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .data {
        align-items: center;
    }
}

@media (max-width: 576px) {
    .social {
        grid-template-columns: 1fr;
    }
}
