.container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--blue);
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.icon {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--gold);
}

.icon hr {
    width: 100%;
    border: none;
    border: 1px solid var(--gold);
}

.icon svg {
    height: 30px;
    font-size: 90px;
}

.text {
    max-width: 1000px;
    text-align: center;
    font-weight: 300;
    color: white;
}

.cards {
    margin-top: 20px;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 991px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 50px 20px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
}
