.container {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    background-color: var(--blue);
}

.image {
    float: left;
    height: 400px;
    margin: 0 20px 20px 0;
}

.image img {
    height: 100%;
}

.data {
    max-width: 1000px;
}

.dataTitle {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 800;
    color: var(--gold);
}

.dataText {
    color: white;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 20px;
    }
}

@media (max-width: 576px) {
    .image {
        height: 300px;
    }
}

@media (max-width: 404px) {
    .dataText {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
