:root {
    --blue: #376296;
    --lightBlue: #c7e0ff;
    --gold: #e1c340;
    --grey: #ccc;
    --overlay: rgba(55, 98, 150, 0.5);
    --overlayTwo: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold);
    border-top: 70px solid white;
}

.slick-dots li button::before {
    margin-top: 10px;
    color: var(--blue);
}

.slick-arrow {
    background-color: var(--blue);
    border-radius: 50%;
}
