:root {
    --montserrat: "Montserrat", sans-serif;
    --fira: "Fira Sans", sans-serif;
    --blue: #376296;
    --gold: #e1c340;
    --grey: #ccc;
    --overlay: rgba(55, 98, 150, 0.7);
    --overlayTwo: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold);
    border-top: 60px solid white;
}
